{% extends "layout.html" %}

{% block title %}
  C~Thru 10010
{% endblock %}

{% block body %}
  <h2> JU CSE PRESENTS C~Thru 10010 </h2>
  <h4> Venue : Illusion Lounge</h4>
  <h4> Address : <a href = https://www.google.co.in/maps/place/Illusion+lounge/@22.4830644,88.3885044,17z/data=!3m2!4b1!5s0x3a02716fa20ee40d:0x1aa476e100b6a6c0!4m5!3m4!1s0x3a02716f9f1ae443:0x2e609802e9afdb80!8m2!3d22.4830595!4d88.3906931>The Metropolis Mall, Hiland Park, Kolkata, West Bengal 700075 </a> <h4>
  <h4> Date : 9th September, 2018 (Sunday)
  <h4> Timing : 12 - 6 pm </h4>
  <a href="/register" class="btn btn-primary">Register</a>
{% endblock %}
