{% extends "layout.html" %}

{% block title %}
  Register
{% endblock %}

{% block body %}
<h1> Registration </h1>
  <form action="/register" method="post">
    <div class="form-group">
      <input type="text" class="form-control" name="name" placeholder="Enter your full name">
    </div>
    <div class="form-group">
      <input type="number" class="form-control" name="contact-number" placeholder="Enter your contact number">
    </div>
    <div class="form-group">
      <input type="text" class="form-control" name="email-address" placeholder="Enter your email address">
    </div>
    <div class="form-group">
      <input type="number" class="form-control" name="roll-number" placeholder="Enter your full roll number">
    </div>
    <h4>Are You Coming?
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" name="Radios" id="Radios1" value="Yes">
      <label class="form-check-label" for="Radios1">
        Yes
      </label>
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" name="Radios" id="Radios2" value="No">
      <label class="form-check-label" for="Radios2">
        No
      </label>
    </div> </h4>
    <div class="form-group">
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
  </form>
{% endblock %}
